* {box-sizing: border-box}

/* style the container */
.container {
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 0 30px 0;
}

/* style inputs and link buttons */
input, .btn{
  width: 90%;
  padding: 12px;
  border: 1px solid #6D2CF6;
  border-radius: 10px;
  margin: 5px 5px;
  opacity: 0.85;
  display: block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
  box-sizing: border-box;
}

input:hover,
.btn:hover {
    opacity: 1;
}

input:focus{
    outline: none;
    box-shadow: 0 0 10px rgb(94, 24, 243);
    
}

a .btn-social {
  margin: 10px;
}

/* style the submit button */
input[type=submit] {  
    margin: auto;
    background: #6D2CF6;
    color: white;
    cursor: pointer;
    border-radius: 50px;
    padding: 15px, 32px;
    width: 50%;
    text-align: center;
    display: block;    
}
  
input[type=submit]:hover {
    background-color: rgb(94, 24, 243);
}
  
/* Two-column layout */
 .col { 
    float: left;
    width: 50%;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 0 50px;
} 

label{
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    display: block;
}

.hl{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
  
/* text inside the vertical line */
.inner {
    background-color: #efefef;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 8px 10px;
    width: auto;
    margin: auto;
    text-align: center;
}
.side-logo{
    background: #621DF5;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.side-logo img{
    height:450px; 
    width:450px;
    max-height: 450px;
    max-width: 100%;
}

img{
    border-radius: 1px;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin: 20px;
    margin: 20px;
    height: 10vh;
}

.btn{
    margin: 5px;
    cursor: pointer;
    border-radius: 50px;
    padding: 15px, 32px;
    width: 40%;
    text-align: center;
    display: block;
    border: none
}

.logo{
  width:230px; 
  height: 67px
}

/* Responsive layout - when the screen is less than 650px wide, hide the logo and background */
@media screen and (max-width: 767px){
  .side-logo{
    display: none;
  }
}


.widget-card-circle {
  font-size: 30px;
  left: 0;
  line-height: 40px;
  right: 0;
  text-align: center;
}

.card {
  background: #ffffff;
  margin: 7.5px 0;
  padding: 20px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1); 
  text-decoration: none;
  height: 200px;
  width: auto;
}

.card-body {
  line-height: 25px;
  margin: 5px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  text-decoration: none; 
  color: black;
}

.card-title {
  margin: 2px;
  font-family: 'Roboto'; 
  font-size: 30px;
  text-decoration: none; 
}

.bg-transparent {
  background: transparent;
  color: #252525;
}

.btn-lg {
  padding: 20px 20px;
  font-size: 10px;
  border-radius: 10px;
  background-color: #8E829D!important;  
  padding: 10;
  margin-left: 2rem;
}

.news-wrap {  
  background-color: #6D2CF6;
  margin: 7.5px 0;
  padding: 20px;
  border: 1px solid #e7e7e7; 
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  overflow-y:scroll;
  height: 70vh;
  width: 100%; 
}

.iit-logo {
  width:120px; 
  height:120px ;
}

.mhrd-logo {
  width: 200px; ; 
  height:200px;
}

.tags {
  border-radius: 20px;
  border: black solid 2px;
  display: inline;
  padding:5px;
  margin: 2px;
  color: black;
  text-decoration: none; 
  font-size: 20px;
};

.user-header{
  height: 10vh;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 40px 0;
}

.timeline-container::before {
  background-color: #6D2CF6;
  content: '';
  position: absolute;
  left: 18px;
  width: 4px;
  height: 100%;
}


/* Right side */
.timeline-item {
  display: flex;
  position: relative;
  align-self: inherit;
  margin: 10px 0;
  width: 50%;
  left: 20px;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 0;
}

/* Right side */
.timeline-item-content {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #d2d2d2;
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: relative;
  width: 400px;
  max-width: 70%;
  text-align: left;
  align-items: flex-start;
}

.timeline-item-content::after {
  content: ' ';
  background-color: #d2d2d2;
  position: absolute;
  top: calc(50% - 7.5px);
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
  right: auto;
  left: -7.5px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-item-content time {
  color: #777;
  font-size: 12px;
  font-weight: bold;
}

.timeline-item-content p {
  font-size: 16px;
  line-height: 24px;
  margin: 15px 0;
  max-width: 250px;
}

.timeline-item-content .circle {
  background-color: #fff;
  border: 3px solid #6D2CF6;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  width: 20px;
  height: 20px;
  z-index: 100;
  right: auto;
  left: -40px;
}


@media only screen and (max-width: 1023px) {
    .timeline-item-content {
        max-width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .timeline-item-content{
        padding: 15px 10px;
        text-align: center;
        align-items: center;
    }

    .timeline-item-content time {
        margin-top: 20px;
    }
}

.footer {
  background-color: #434a54;
  padding: 10px;
  color: #aab2bd;
}

.logo{
  border-radius: 1px;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin: 20px;
    width: 230px; 
    height: 67px;
}